.ContactComponent {
  align-self: center;
  margin: 2rem;
  color: aliceblue;
  opacity: 0.8;

  h3 {
    padding-left: 0.5rem;
    font-size: 1em;
  }

  ul {
    padding-left: 1.5rem;
  }
}
