@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("../../assets/quakeBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  color: aliceblue;
}

button {
  font-family: "Lato", sans-serif;
}

.MagnitudeSelector {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: aliceblue;
}
.MagnitudeSelector h2 {
  flex: 1;
}

.button-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 10px;
}

.magnitude-button {
  position: relative;
  flex: 1;
  align-self: stretch;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin: 5px;
  padding: 2rem 3rem;
  cursor: pointer;
  text-align: center;
  color: aliceblue;
  font-weight: 700;
  border-radius: 4px;
}

.magnitude-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.BR_Span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.TL_Img {
  padding: 5px;
  border-radius: 5px;
  width: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1.2rem 1rem;
  border-bottom: solid 1px #e8e8e8;
}

.navItem {
  color: gray;
  text-decoration: none;
}

.navItem:active,
.navItem:focus {
  opacity: 0.5;
}

.ContactComponent {
  align-self: center;
  margin: 2rem;
  color: aliceblue;
  opacity: 0.8;
}
.ContactComponent h3 {
  padding-left: 0.5rem;
  font-size: 1em;
}
.ContactComponent ul {
  padding-left: 1.5rem;
}

.QuakeByMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(147, 145, 145, 0.4);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 0.3rem;
  gap: 0.5rem;
}
.QuakeByMap div {
  align-items: baseline;
  gap: 0.1rem;
}

h1 {
  font-size: 1.5em;
}

label {
  font-weight: bold;
}

input[type=number] {
  width: 2rem;
  padding: 0.1rem 0.2rem;
  border: none;
  border-radius: 3px;
}

.MainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

footer {
  font-size: 0.75em;
  font-weight: 200;
  position: relative;
  align-self: stretch;
  top: auto;
  bottom: 1rem;
  color: aliceblue;
  padding: 0.5rem;
  background: transparent;
  margin-top: 2rem;
  opacity: 0.6;
}

footer a {
  transition: all 0.5s;
  opacity: 0.6;
  cursor: pointer;
  border: none;
  color: aliceblue;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mapContainer a {
  align-self: flex-start;
  padding-left: 1.5rem;
}
.mapContainer #map {
  width: 85vw !important;
}

/*# sourceMappingURL=index.css.map */
