nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1.2rem 1rem;
  border-bottom: solid 1px #e8e8e8;
}

.navItem {
  color: gray;
  text-decoration: none;
}

.navItem:active,
.navItem:focus {
  opacity: 0.5;
}
